# ──────────────────────────────────────────────────────────────────────────────
# Project:       PID Optimizer
# File:          config.yaml
# Description:   This YAML file contains parameters for:
#                1. System definition (plant transfer function, simulation time, anti-windup, control constraints)
#                2. PSO (Particle Swarm Optimization) settings to optimize PID parameters
#                3. Bounds for PID parameters (Kp, Ti, Td) used during the PSO optimization
#
#                Notes:
#                - All numerical values should be provided as numbers (floats or ints).
#                - Anti-windup can be either "clamping" or "conditional".
#                - Constraints define limits for controller outputs and the I-term.
#                - PSO bounds define the search space for PID gains.
#
# Authors:       Florin Büchi, Thomas Stähli
# Created:       01.12.2025
# Modified:      01.12.2025
# Version:       1.0
#
# License:       ZHAW Zürcher Hochschule für angewandte Wissenschaften (or internal use only)
# ──────────────────────────────────────────────────────────────────────────────


# ──────────────────────────────────────────────────────────────────────────────
# System parameter
# ──────────────────────────────────────────────────────────────────────────────
system:
  plant:
    # Transfer function
    #     numerator                       1                  [1]
    # G = -----------    e.g.: G = ----------------  => -------------
    #     denominator              3*s^2 + 2*s + 1        [3, 2, 1]
    numerator: [1]
    denominator: [1, 2, 1]

  simulation_time:
    start_time: 0      # Start time in [sec]
    end_time: 20       # End time in [sec]
    time_step: 1e-4    # Simulation time step in [sec]
    mode: "fixed"      # choose "fixed" for using end_time, choose "auto" to try and shorten the simulation time

  # Excitation_target: choose "reference" (r) or "input_disturbance" (l) or "measurement_disturbance" (n)
  excitation_target: "reference"

  # Anti-windup method: choose "clamping" or "conditional"
  anti_windup: "clamping"

  control_constraint:
    # Control signal limits for both the I-term and the controller output
    min_constraint: -5
    max_constraint: 5

  # Performance index: defines the control quality criterion used for optimization.
  # Common choices:
  #   - "IAE"  (Integral of Absolute Error)
  #            Measures the total absolute deviation over time.
  #   - "ISE"  (Integral of Squared Error)
  #            Squares the error, penalizing large deviations more strongly.
  #   - "ITAE" (Integral of Time-weighted Absolute Error)
  #            Weights errors by time to penalize long-lasting deviations.
  #   - "ITSE" (Integral of Time-weighted Squared Error)
  #            Squares and time-weights the error, emphasizing late and large errors.
  # This metric is minimized during the PSO to evaluate controller performance.
  performance_index: "ITAE"

# ──────────────────────────────────────────────────────────────────────────────
# PSO parameter
# ──────────────────────────────────────────────────────────────────────────────
pso:
  swarm_size: 40        # Number of particles in the swarm

  # Number of PSO iterations to optimize PID parameters 14 was determined based on several test systems and
  # using the ITAE criterion to achieve a result within 5%  of the minimal ITAE with 95% probability.
  iterations: 14

  bounds:
    # Parameter search limits for PSO
    # Define lower and upper boundaries for each PID parameter
    kp_min: 0.0
    kp_max: 10.0
    ti_min: 0.000001
    ti_max: 10
    td_min: 0.0
    td_max: 10.0